.profile-container{
    background-image: url("background.jpg");
    min-height: 100%;
    min-width: 100%;
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    height: 100%;
}
.profile-text {
    padding-top: 15%;
    padding-left: 5%;
}
.btn-row {
    padding-top: 10%;
    text-align: center;
    padding-bottom: 10%;
}
.btn-secondary {
    background-color: black;
    color: white;
    border: none;

}
body {
    min-height: 100%;
    min-width: 100%;
}
