/* NavBar */

.navbar {
    background-color: black !important;
    margin: 0.5%;
    
}
html {
    height: 100%;
}
.profile-text {
    padding-top: 15%;
    padding-left: 5%;
}
.btn-row {
    padding-top: 10%;
    text-align: center;
    padding-bottom: 10%;
}
.btn-secondary {
    background-color: black;
    color: white;
    border: none;

}
body {
    min-height: 100%;
    min-width: 100%;
}

/* Skills Page  */

.skills-row {
    text-align: center;
}

.skills-title {
    text-align: center;
    text-decoration: underline;
} 

.left-col {
    text-align: right;
}

.right-col {
    text-align: left;
}